---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { nom, foto } = Astro.props;
---

<div class="contenedor">
	<div class="pok">
		<h1>{nom}</h1>
		<img src={foto} alt="img pokemon" />
	</div>
	<style>
		.contenedor {
			display: inline-block;
		}
		.pok {
			width: 20%;
			background-color: lightblue;
			padding: 10px;
			margin: 5px; /* Espacio entre las cajas */
			text-align: center;
			overflow: hidden;
			border-radius: 10px;
		}
		.pok img {
			width: auto;
			height: auto;
		}
	</style>
</div>
